<!DOCTYPE>
<html>

<head>

</head>

<body>
    <h1>This is Weather Page</h1>
    <form>
        <input class="long" placeholder="Longitude">
        <input class="lat" placeholder="Latitude">
        <button>Search</button>
    </form>
    <p class="result">
    </p>
</body>
<script type="text/javascript" src="app.js"></script>
</html>